<h1>Transaccion Soap</h1>
<div class="clear"></div>
<table class="table table-striped table-dark" >
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">OperID</th>
      <th scope="col">trxId</th>
      <th scope="col">Request</th>
      <th scope="col">Response</th>
      <th scope="col">Duracion</th>
      <th scope="col">ErrorSoap</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td><button type="button" class="btn btn-danger">Eliminar Transaccion</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>